.map-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width:100%;
  height: 100vh;
  transition: all 1s;
}
.mapboxgl-control-container{
  display: none;
}
.popup-text strong {
  display: block;
  font-size: 10px;
  color: blue;
}
.popup-text{
  font-size: 13px;
}



/* marker css starts */
#marker {
  background-image: url('https://docs.mapbox.com/mapbox-gl-js/assets/washington-monument.jpg');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 400px;
}

.mapboxgl-popup-content {
  border-radius: 50px;
  width: 180px;
  padding: 0px 0px 0px;
}

.heading {
  font-weight: bold;
  margin: -11px 0px -8px 23px;
  font-size: 14px;
  color: blue;
}
.sub-heading{
  color: blue;
  color: #7a7a7a;
  font-size: 14px;
  padding: 0px 0px 0px 21px;
}
/* markers css ends */